* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: rgb(228, 228, 228);
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .object:nth-child(1) {
    position: absolute;
    left: 40%;
    top: auto;
}

.container .object {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.container .h2 {
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 60px;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:800px) {
    .container .h2 {
        font-size: 60px;
        letter-spacing: 19px;
        line-height: 35px;
    }
}